.seat{
    background-color: rgb(167, 167, 167) !important;
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 15% !important;
    transition: all 0.2s ease;
    margin:0.5rem;
}
.seat:hover:not(.booked){
    background-color: #ffffff !important;
    box-shadow: 0 0 5px #ffffff !important;
    transition: all 0.2s ease;
}
.seat.selected{
    background-color: #ffffff !important;
    box-shadow: 0 0 1px #ffffff !important;
    transition: all 0.2s ease;
}
.layout{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.booked{
    background-color: rgb(0, 0, 0) !important;
}