@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.body {
    font-family: 'Montserrat', sans-serif;
    height: 50vh !important
  }
  
  section {
    margin-top: 0px;
    height: 0vh !important;
  }
  .stadia{
      background-color: rgba(143, 49, 194, 0.895) !important;
      opacity: 0.95;
      border-radius: 20px;
      padding-top: 13px;
      padding-bottom: 14px;
      padding-left: 10px;
      padding-right: 12px;
  }
  /* .separator {
    height: 30px;
  } */
  .logo-home{
     color: white;
     font-size: 100px;
     font-family: 'Montserrat', sans-serif;
     background-color: rgba(104, 163, 215, 0.226);
     padding-left: 20px;
     border-radius: 20px;
  }
  .btngroup{
    position: absolute;
    bottom: -400px;
    margin: auto;
  }
  .btngroup2{
    position: fixed;
    top:17px;
    right: 17px;
    margin: auto;
    transform: scale(0.5);
  }
  .secondary-text{
      margin-top: 20px;
      background-color: rgba(1, 1, 1, 0.5);
      border-radius: 10px;
      padding: 5px;
      padding-left: 15px;
      padding-right: 15px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  .banner {
    height: 200vh;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .btngroup{
    
  }
  .btns{
      color: white !important;
      font-size: 30px !important;
      font-family: 'Montserrat', sans-serif !important;
      font-weight: bold !important;
      background-color: rgba(1, 1, 1, 0.3) !important;
      padding: 10px !important;
      padding-left: 15px !important;

      margin: 10px !important;
      border-radius: 10px !important;
      text-transform: none !important;
  }
  .btns-new{
    color: white !important;
    font-size: 30px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
    background-color: rgba(237, 69, 69, 0.895) !important;
    padding: 10px !important;
    padding-left:20px !important;
    padding-right:20px !important;
    margin: 10px !important;
    border-radius: 40px !important;
    text-transform: none !important;
  }
  .btns2{
    color: white !important;
    font-size:15px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
    background-color: rgba(237, 69, 69, 0.895)!important;
    padding: 9px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin: 2px !important;
    margin-left:5px !important;
    border-radius: 20px !important;
    text-transform: none !important;
}
  .btns:hover{
        background-color: rgba(1, 1, 1, 0.5) !important;
        transform: scale(1.1) !important;
        transition:all 0.5s ease;
  }
  .banner.banner-2 {
    background-image: url('../Resources/stadium-3.jpg');
    /* filter:blur(5px); */
    /* backdrop-filter: blur(5px); */
   }
