html,body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* background:url('../Resources/stadium-2.jpg'); */
    background-size: cover;
    /* background-color: #424250; */
}
.bg{
    height: 100%;
}
.login-btn{
    background-color:#CA3C6E !important;
}